html{
  font-family: 'Roboto', sans-serif !important;
}

body{
  font-size: 18px;
  line-height: 1.4446;
  font-weight: 400;
  letter-spacing: 0em;
  background-color: #fff;
  color: #333;
  font-style: normal;
  width:100%;
}



.col-sm-6{
  width:50%;
  padding:0;
  margin:0;
}

.left{
  float:left;
}

.section{
  padding: 20px;
}

.time{
  font-size: 48px;
  color: rgba(255, 255, 255, 0.5);
}

#fullpage.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

p{
  margin-bottom: 8px;
}

p{
  margin: 0 0 1em 0;
}

#dtoll{
  width: 623 !important;
  height: 360 !important;
}

.vcenter{
  display: inline-block;
  /*float: none;*/
  vertical-align: middle;
}

.box{
    background-color: transparent;
    font-size: 40px;
    display: inline;
    width: 50px;
}

input.box{
  border: 0px solid #000000;
  border-bottom-width: 1px;
}


.inline{
  display: inline;
}

.input-group{
  display: inline !important;
}

.tooltip-inner {
    max-width: 350px !important;
    /* If max-width does not work, try using width instead */
    width: 200px !important; 
}

.col-sm-8{
  padding-top:100px !important;
}
